<button type="button" class="btnBorrar"> Eliminar </button>

<dialog
    id="myModal"
    class="modal bg-transparent px-4 text-2xl backdrop:bg-black/20 backdrop:backdrop-blur-sm sm:px-0"
>
    <button
        type="button"
        id="close-dialog"
        class="close-dialog fixed right-1/4 top-1/3 rounded p-4 transition hover:scale-110 hover:bg-accent hover:text-black"
    >
        <svg
            fill="none"
            height="30"
            viewBox="0 0 20 20"
            width="30"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                clip-rule="evenodd"
                d="M5.17157 8.00003L0.585785 3.41424L3.41421 0.585815L8 5.1716L12.5858 0.585815L15.4142 3.41424L10.8284 8.00003L15.4142 12.5858L12.5858 15.4142L8 10.8285L3.41421 15.4142L0.585785 12.5858L5.17157 8.00003Z"
                fill="#fff"
                fill-rule="evenodd"
            ></path>
        </svg>
    </button>

    <form id="myForm" class="Form" method="post" action="./api/eliminarUser">
        <h2 class="titulo">¿Quieres eliminar a este usuario?</h2>
        
<!-- Change the value accordingly -->

        <div class="flex mt-8 ml-28">
            <button class="buton" type="submit" id="borrar">Borrar</button>
            <button class="buton1" type="button" id="cancelar">Cancelar</button>
        </div>
    </form>
</dialog>


<script>
    document.addEventListener('DOMContentLoaded', () => {
    
    const openModalBtns1 = document.querySelectorAll<HTMLButtonElement>(".btnBorrar");
    const myModal = document.getElementById("myModal") as HTMLDialogElement;
    const myForm = document.getElementById("myForm") as HTMLFormElement;
    const closeButton = document.getElementById("close-dialog") as HTMLButtonElement;

    if (openModalBtns1 && myModal && myForm && closeButton) {
        openModalBtns1.forEach((btn) => {
            btn.addEventListener("click", () => {
                myModal.showModal();
            });
        });

        closeButton.addEventListener("click", () => {
            myModal.close();
        });

        // Cerrar el modal cuando se hace clic fuera de él
        myModal.addEventListener("click", (event) => {
            if (event.target === myModal) {
                myModal.close();
            }
        });

        // Cerrar el modal cuando se presiona la tecla Esc
        window.addEventListener("keydown", (event) => {
            if (event.key === "Escape" && myModal.open) {
                myModal.close();
            }
        });

       

        const cancelButton = document.getElementById("cancelar") as HTMLButtonElement;
        if (cancelButton) {
            cancelButton.addEventListener("click", () => {
                myModal.close();
            });
        }
    }
    
});

</script>

<style>
    .buton{
  background:#ff191d;
  width: 120px;

  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  border: none;
  border: 1px solid #ff191d;
  cursor: pointer;
  transition: all 300ms;

  
}
.buton:hover{
  border: 1px solid #ff191d;
  color: #ff191d;
  background: none;
  
}
    .btnBorrar {
        background: #ff191d;
        color: #fff;
        border: 1px solid #ff191d;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        transition: all 200ms;
    }

    .btnBorrar:hover {
        border: 1px solid#ff191d;
        color: #ff191d;
        background-color: transparent;
    }
    .Buton1 {
        margin-left: 10px;
    }
    .container {
        position: fixed;
        top: 85%;
        left: 94%;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: 0.6s;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
    }

    .btn:hover {
        transform: scale(1.1);
    }
    .Form {
        width: 560px;
        align-items: center;
        border-radius: 15px;
        padding: 30px;
        background-color: rgb(255, 255, 255);
    }
    .titulo {
        text-align: center;
        margin-bottom: 10px;
    }

    .inputs {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .inputs label {
        flex: 0 0 150px; /* Ancho fijo para las etiquetas */
    }

    .inputs input,
    .inputs select {
        flex: 1; /* El input y select toma el espacio restante */
        border: 1px solid gray;
        border-radius: 5px;
        outline: none;
        padding: 5px;
    }

    select {
        border: 1px solid gray;
        border-radius: 5px;
        outline: none;
        padding: 5px;
        ng: 5px;
    }

    .buton1 {
        background: linear-gradient(
            to bottom right,
            rgb(30 58 138),
            rgb(23 37 84)
        );
        width: 120px;
        padding: 6px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        border-radius: 13px;
        border: none;
        border: 1px solid rgb(30 58 138);
        cursor: pointer;
        transition: all 300ms;
        margin-left: 30px;
    }
    .buton1:hover {
        border: 1px solid rgb(30 58 138);
        color: rgb(30 58 138);
        background: none;
    }
    
</style>
