<button type="button" class="btnBorrar"> Eliminar </button>

<dialog
    id="myModal"
    class="modal bg-transparent px-4 text-2xl backdrop:bg-black/20 backdrop:backdrop-blur-sm sm:px-0"
>
    <button
        type="button"
        id="close-dialog"
        class="close-dialog fixed right-1/4 top-1/3 rounded p-4 transition hover:scale-110 hover:bg-accent hover:text-black"
    >
        <svg
            fill="none"
            height="30"
            viewBox="0 0 20 20"
            width="30"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                clip-rule="evenodd"
                d="M5.17157 8.00003L0.585785 3.41424L3.41421 0.585815L8 5.1716L12.5858 0.585815L15.4142 3.41424L10.8284 8.00003L15.4142 12.5858L12.5858 15.4142L8 10.8285L3.41421 15.4142L0.585785 12.5858L5.17157 8.00003Z"
                fill="#fff"
                fill-rule="evenodd"
            ></path>
        </svg>
    </button>

    <form id="myForm" class="Form" method="get" action="./api/eliminarUser">
        <h2 class="titulo">¿Quieres eliminar a este usuario?</h2>
        
<!-- Change the value accordingly -->

        <div class="flex mt-8 ml-28">
            <button class="buton" type="submit" id="borrar">Borrar</button>
            <button class="buton1" type="button" id="cancelar">Cancelar</button>
        </div>
    </form>
</dialog>



<style>
   
</style>
