---
const { onClick } = Astro.props;
---

<button type="button" class="btnEditar" onClick={onClick}>Editar</button>

<style>
.btnEditar {
  background: #1e3a8a;
  color: #fff;
  border: 1px solid #1e3a8a;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms;
}

.btnEditar:hover {
  border: 1px solid #1e3a8a;
  color: #1e3a8a;
  background-color: transparent;
}
</style>
