---

---

  <div class="container">

    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombres:</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Apellidos:</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Usuario:</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Correo:</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Contraseña:</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmar Contraseña:</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
        </div>
       
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>


<style>




   

   
    input {
        flex: 1; /* El input y select toma el espacio restante */
        border: 1px solid gray;
        border-radius: 5px;
        outline: none;
        padding: 3px;
        width: 300px;
    }

</style>