<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>

<div class="contenido">
    <div class="chart horizontal">
        <canvas id="myChart" width="1000px" height="360px" class="ml-60  pt-24 mr-12 "></canvas>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../components/dashboard"></script>
<script>

</script>

